<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Daniel Pariente Personal Site">
  <meta name="author" content="Daniel Pariente">
  <title>Daniel Pariente</title>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/iecrap' %>
  <%= render 'layouts/smartlook' %>
</head>
<body>
  <%= render 'refills/navigation' %>
  <%= yield %>
  <%= render 'refills/footer' %>
  <%= render 'layouts/google_analytics' %>
</body>
</html>
